<md-card
  class="address-item-card"
  ng-class="{'editing': addressItem.editingAddress.editing}">
	<md-content class="md-padding">
		<div class="address-content" ng-if="!addressItem.editingAddress.editing">
      <p class="type">
        <span ng-class="addressItem.address.type | typeTitle | lowercase" class="type-flag">{{ addressItem.address.type | typeTitle | firstLetter }}</span>{{ addressItem.address.type | typeTitle }}
      </p>
      <p class="street">{{ addressItem.streetContent }}</p>
			<p class="area">{{ addressItem.areaContent }}</p>
			<div class="address-btns"
				layout="row"
				layout-align="start start"
				>
				<md-button ng-click="addressItem.copy()" aria-label="copy address">
					<i class="fa fa-copy"></i>
				</md-button>
				<md-button ng-click="addressItem.edit()" aria-label="edit address">
					<i class="fa fa-pencil"></i>
				</md-button>
				<md-button ng-click="addressItem.delete()" aria-label="delete address">
					<i class="fa fa-trash"></i>
				</md-button>
			</div>
		</div>
		<address-item-edit
      class="address-item-edit"
			ng-if="addressItem.editingAddress.editing"
			address="addressItem.editingAddress">
		</address-item-edit>
	</md-content>
</md-card>
