<md-toolbar
  class="md-tall md-primary address-toolbar md-whiteframe-2dp"
  ng-class="{'short' : addressList.newAddress.editing}"
  >
	<h2 class="md-toolbar-tools">
		<span>Addresses</span>
	</h2>
	<md-input-container
		md-no-float
		class="address-search-wrap"
		ng-show="addressList.addressList.length > 0">
		<input
			type="text"
			ng-model="addressList.searchKeyword"
			placeholder="search your address" />
	</md-input-container>
	<md-button
		class="md-fab create-address-btn"
    aria-label="create address" ng-class="{'cancel' : addressList.newAddress.editing}"
		ng-click="addressList.toggleCreate()"
		>
		<i class="fa fa-plus"></i>
	</md-button>
</md-toolbar>
<md-content
  class="md-padding create-address-wrap"
  ng-if="addressList.newAddress.editing">
  <address-item-edit
    address="addressList.newAddress">
  </address-item-edit>
</md-content>
<md-list class="address-list-scroll" ng-show="addressList.addressList.length">
  <address-item
    address="address"
    ng-repeat="address in addressList.addressList | search: addressList.searchKeyword">
  </address-item>
</md-list>
<div
  class="empty-tip"
  layout="row"
  layout-align="center center"
  ng-show="!addressList.addressList.length">
  <span>empty now<br>click [ + ] button to add some addresses<span>
</div>
